h1,h2 {
    background-color: rgb(105, 231, 33);
    color: rgb(11, 4, 17);
    font-size: 50pt;
    font-family: sans-serif;
    transform: rotate(-30deg);
    width: 700px;
    margin-left: auto;
    margin-right: auto;


}
h2 {
    text-align: center;
}
li {
    font-size: 30pt;
    color: rgb(130, 230, 30);
    font-family: sans-serif;
    background-color: rgb(11, 4, 17);

}
p {
    font-size: 45pt;
    background-color: rgb(11, 4, 17);
    color: rgb(130, 230, 30); 
}
h3 {background-color: rgb(11, 4, 17);
    font-family: sans-serif;
    color: rgb(130, 230, 30);
    font-size: 30pt;
    text-align: center;
}

body {
    background-color: rgb(11, 4, 17);
}
button{
    background-color: rgb(114, 21, 168);
    color:rgb(11, 4, 17);
    font-size: 40pt;
    font-family: sans-serif;
}

.botao {
    text-align: center;
}
h4 {
    text-align: center;
    color: rgb(130, 230, 30);
    font-family: sans-serif;
    
}
h5{
    text-align: center;
    color: rgb(130, 230, 30);
    font-family: sans-serif;

}
h6 { text-align: center;
    color: rgb(130, 230, 30);
    font-family: sans-serif;
}

